body {
    font-family: 'Montserrat';
}

.navbar {
    background-color: #171717;   
}

.nav-item {
    margin-right: 24px;
    font-weight: 200;
}

.nav-item.active a {
    color: #F9B234 !important;
    font-weight: 600;
}

.nav-link span {
    color: #F9B234;
    font-weight: 600;
}

.carousel {
    height: 450px;
    background-color: #171717;
    color: white;
}

.spesial h3, .designer h3 {
    font-family: 'Lora';
    color: #1B2690;
    font-weight: bold;
}

.spesial p, .designer p, footer p {
    font-weight: 200;
    color: #B7B7B7;
}

.figure h5 {
    color: #171717;
}

.figure-img {
    position: relative;
    max-height: 250px;
    max-width: 250px;
}

.figure-img a {
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 8px;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: 0.3s;
}

.figure-img a:hover {
    opacity: 1;
}


